{# @var post #}
{% extends 'base.html.twig' %}
{% block title %} Micro Posts Show Page {% endblock %}

{% block body %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-grey pb-2 mb-0">Show Mocro Post</h6>
        {% if post %}
            {{ include('/micro-post/post.html.twig', {'post': post}) }}
        {% endif %}
    </div>
{% endblock %}