<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mainMenu">
    <div class="container">
      <a class="navbar-brand" href="/" title="Blog">
        <img data-src="holder.js/120px50/?text=Blog&bg=e83e8c&fg=fff&size=8" title="Blog" alt="logo Blog">
      </a>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 typeahead" id="searchBlog" type="search" placeholder="Search" aria-label="Search">
      </div>
      <ul class="navbar-nav px-3">
        <li *ngFor="let link of links" class="nav-item text-nowrap">
          <a class="nav-link" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{
            link.label }}</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Add new</a>
        </li>
      </ul>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap border-right border-secondary">
          <app-notification></app-notification>
        </li>
        <li *ngIf="isLogin" class="nav-item text-nowrap">
          <a class="nav-link" href="#">{{userName}}</a>
        </li>
        <li *ngIf="isLogin" class="nav-item text-nowrap">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item text-nowrap">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item text-nowrap">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
