<div class="wWrap">
  <div class="h5">Categories</div>
  <div id="accordion">
    <app-tree-node [node]="categories"></app-tree-node>
  </div>
</div>






  <!--div id="accordion">
    <ul>
      <li>
        <div class="h3"><span class="wrapA"><a href="/category/voluptatem-sed"><i class="fa fa-lg fa-tachometer"></i>Voluptatem sed.</a></span></div>
        <ul>
          <li>
            <a href="/category/omnis-sed-nobis">Omnis sed nobis.</a>
          </li>

          <li>
            <span class="wrapA"><a href="/category/perferendis-dolores">Perferendis dolores.</a></span>
            <ul>
              <li>
                <a href="/category/neque-qui-quia">Neque qui quia.</a>
              </li>

            </ul>
          </li>

        </ul>
      </li>

      <li>
        <div class="h3"><span class="wrapA"><a href="/category/cupiditate-est-ut"><i class="fa fa-lg fa-tachometer"></i>Cupiditate est ut.</a></span></div>
        <ul>
          <li>
            <span class="wrapA"><a href="/category/sit-dolores-cumque">Sit dolores cumque.</a></span>
            <ul>
              <li>
                <a href="/category/natus-sint-recusandae">Natus sint recusandae.</a>
              </li>

            </ul>
          </li>

        </ul>
      </li>

      <li>
        <div class="h3"><span class="wrapA"><a href="/category/eaque-delectus"><i class="fa fa-lg fa-tachometer"></i>Eaque delectus.</a></span></div>
        <ul>
          <li>
            <span class="wrapA"><a href="/category/veritatis-reiciendis">Veritatis reiciendis.</a></span>
            <ul>
              <li>
                <span class="wrapA"><a href="/category/nemo-tempore">Nemo tempore.</a></span>
                <ul>
                  <li>
                    <span class="wrapA"><a href="/category/dolore-id-in">Dolore id in.</a></span>
                    <ul>
                      <li>
                        <a href="/category/et-vitae">Et vitae.</a>
                      </li>

                      <li>
                        <a href="/category/aliquam-rem-deleniti">Aliquam rem deleniti.</a>
                      </li>

                    </ul>
                  </li>

                  <li>
                    <a href="/category/recusandae-quas-aut">Recusandae quas aut.</a>
                  </li>

                </ul>
              </li>

              <li>
                <a href="/category/id-non-natus">Id non natus.</a>
              </li>

            </ul>
          </li>

          <li>
            <span class="wrapA"><a href="/category/nihil-ut-occaecati">Nihil ut occaecati.</a></span>
            <ul>
              <li>
                <a href="/category/blanditiis-mollitia-ex">Blanditiis mollitia ex.</a>
              </li>

              <li>
                <a href="/category/rerum-quaerat-dolores">Rerum quaerat dolores.</a>
              </li>

            </ul>
          </li>

        </ul>
      </li>

      <li>
        <div class="h3"><span class="wrapA"><a href="/category/aut-corporis"><i class="fa fa-lg fa-tachometer"></i>Aut corporis.</a></span></div>
        <ul>
          <li>
            <a href="/category/ab-in-et">Ab in et.</a>
          </li>

        </ul>
      </li>

      <li>
        <div class="h3"><span class="wrapA"><a href="/category/debitis-molestiae-impedit"><i class="fa fa-lg fa-tachometer"></i>Debitis molestiae
          impedit.</a></span></div>
        <ul>
          <li>
            <a href="/category/rerum-soluta">Rerum soluta.</a>
          </li>

        </ul>
      </li>

    </ul>
  </div>
</div-->
