<div></div>
<div *ngIf="post" class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-grey pb-2 mb-0">{{post.title}}</h6>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?text={{ post.user.username }}&bg=e83e8c&fg=fff&size=8" alt="img" class="mr-2 ml-2 img-thumbnail img-fluid">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-grey">
          <span class="d-block">
              <a [routerLink]="['/user',post.user.username]"><strong class="text-dark-grey">{{ post.user.fullName }}</strong></a> &nbsp; <span>{{ post.createdAt | dateFromSec:"en-US":"short"}}</span>
          </span>
      {{ post.text }}
    </p>
  </div>
  <div class="pt-2">
    <button [ngClass]="{'btn btn-sm':1, 'btn-outline-secondary':!isLiked, 'btn-outline-danger':isLiked }" (click)="isLiked?unLike($event):like($event)">
      <i [ngClass]="{'fa':1, 'fa-heart-o':!isLiked,'fa-heart':isLiked}"></i>
       {{isLiked ? 'Unlike' : 'Like' }}
      <span #spinnerTagWrap></span>
      <span *ngIf="!spinnerTag" [ngClass]="{'badge':1, 'badge-secondary':!isLiked, 'badge-danger':isLiked}">{{ countLikes }}</span>
    </button>
  </div>
</div>
