<div class="my-3 p-3 bg-white rounded box-shadow">
  <p>You currently do not follow anyone, you might these users interesting: </p>
  <h6 class="border-bottom border-grey pb-2 mb-0">Recent Updates</h6>
  <div *ngIf="!loaded" class="text-center mt-2"><i class="fa fa-circle fa-circle-o-notch fa-spin"></i></div>
  <div *ngIf="posts && loaded">
    <div *ngFor="let post of posts" class="media text-muted pt-3">
      <img data-src="holder.js/32x32?text={{ post.user.username }}&bg=e83e8c&fg=fff&size=8" alt="img" class="mr-2 ml-2 img-thumbnail img-fluid">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-grey">
          <span class="d-block">
              <a [href]="post.user.username"><strong class="text-dark-grey">{{ post.user.fullName }}</strong></a> &nbsp; <span>{{ post.createdAt | dateFromSec:"en-US":"short"}}</span>
          </span>
        {{ post.text }}
        <div class="text-right"><a [href]="post.slug">Show</a></div>
      </div>

    </div>
  </div>
  <h3 *ngIf="loaded && !posts" class="text-center mt-2">No posts</h3>
</div>
