<div class="card">
  <div *ngIf="notifications" class="card-header">
    <h5 class="card-title">Unread Notifications</h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a class="btn btn-link btn-outline-info" (click)="markAll()">Mark all seen</a></li>
      <li *ngFor="let notification of notifications" class="list-group-item">
        <a href="/user/{{notification.likedBy.username}}">{{notification.likedBy.username}}</a>
        likes yours
        <a href="/{{notification.post.slug}}">post - ({{notification.post.title}})</a>
        <a class="btn btn-primary btn-sm text-light float-right" (click)="markSeen($event,notification.id)">OK</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!notifications"  class="card-body">
    You have not Notifications
  </div>
</div>
