{% if htmlTree|length > 1 %}
    <div class="wWrap">
        <div class="h5">Categories</div>
        {#
        <div id="accordian">
            {{ htmlTree|raw }}
        </div>
        #}
        <div id="accordian">
            <ul>
                <li>
                    <h3><a href="#"><i class="fa fa-lg fa-tachometer"></i>Dashboard</a></h3>
                    <ul>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Graphs</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li class="active">
                    <h3><a href="#"><i class="fa fa-lg fa-tasks"></i>Tasks (active)</a></h3>
                    <ul>
                        <li><a href="#">Today's tasks</a></li>
                        <li class="active">
                            <a href="#">DrillDown (active)</a>
                            <ul>
                                <li><a href="#">Today's tasks</a></li>
                                <li><a href="#">Urgent</a></li>
                                <li>
                                    <a href="#">Overdues</a>
                                    <ul>
                                        <li><a href="#">Today's tasks</a></li>
                                        <li><a href="#">Urgent</a></li>
                                        <li><a href="#">Overdues</a></li>
                                        <li><a href="#">Recurring</a></li>
                                        <li><a href="#">Settings</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Recurring</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Overdues</a>
                            <ul>
                                <li><a href="#">Today's tasks</a></li>
                                <li><a href="#">Urgent</a></li>
                                <li><a href="#">Overdues</a></li>
                                <li><a href="#">Recurring</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Recurring</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-lg fa-calendar"></i></span>Calendar</a></h3>
                    <ul>
                        <li><a href="#">Current Month</a></li>
                        <li><a href="#">Current Week</a></li>
                        <li><a href="#">Previous Month</a></li>
                        <li><a href="#">Previous Week</a></li>
                        <li><a href="#">Next Month</a></li>
                        <li><a href="#">Next Week</a></li>
                        <li><a href="#">Team Calendar</a></li>
                        <li><a href="#">Private Calendar</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-lg fa-heart"></i>Favourites</a></h3>
                    <ul>
                        <li><a href="#">Global favs</a></li>
                        <li><a href="#">My favs</a></li>
                        <li><a href="#">Team favs</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endif %}